/**
 * CSS3 Isometric Text Demo v2
 CSS3 Isometric Text Effect created by Duncan Midwinter.*/
@font-face {
	font-family: 'Zilla Slab';
	src: url('ZillaSlabHighlight-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 1000px;
	color: #fff;
	position: relative;
	background-color: #2f5faf;
	background-image: url(mariposa.png);
	-webkit-font-smoothing: antialiased;
}

h1 {
	font: 80px 'LeagueGothicRegular';
	position: relative;
	top: -30px;
	left: 100px;
	color: rgba(0,0,0,0);

	-webkit-transform: skew(63deg,-26.6deg);
	-moz-transform: skew(63deg,-26.6deg);
	-o-transform: skew(63deg,-26.6deg);
	-ms-transform: skew(63deg,-26.6deg);
	transform: skew(63deg,-26.6deg);
	text-shadow: 0 0 3px rgba(0, 0, 128, 0.25);
	z-index: 50;
}

h1:after {
	content: "ISOMETRIC TEXT";
	position: absolute;
	top: 15px;
	left: 25px;
	color: rgba(255,255,255,1);

	-webkit-transform: skew(-63deg) scale(1,.5);
	-moz-transform: skew(-63deg) scale(1,.5);
	-o-transform: skew(-63deg) scale(1,.5);
	-ms-transform: skew(-63deg) scale(1,.5);
	transform: skew(-63deg) scale(1,.5);
	text-shadow: -1px -1px 1px #aaa, -2px -2px 1px #999, -3px -3px 1px #888, -4px -4px 1px #777, -5px -5px 1px #666, -6px -6px 1px #555, -7px -7px 5px rgba(0, 0, 128, 0.75);
	z-index: 100;
}

p {
	width: 460px;
	height: 220px;
	position: absolute;
	top: 180px;
	left: 430px;
	font: 24px/36px 'Zilla Slab';
	color: 	rgb(13, 13, 13);
	text-align: center;

	-webkit-transform: skew(63deg,-26.6deg);
	-moz-transform: skew(63deg,-26.6deg);
	-o-transform: skew(63deg,-26.6deg);
	-ms-transform: skew(63deg,-26.6deg);
	transform: skew(63deg,-26.6deg);
	position: absolute;
	z-index: 50;
}
